<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Title</title>

</head>
<body ng-app="myApp">

<div ng-controller="main">

  <div>
    <div>
      URL: <input type="text" ng-model="url">
    </div>
    <div>
      First Page <input type="text" ng-model="config.firstPage">
    </div>
    <div>
      Max Page: <input type="text" ng-model="config.maxPage">
    </div>
    <button type="button" ng-click="getImages()"> Get Images</button>
  </div>
  <div>
    Received {{images.length}} images:
  </div>
  <div>
    {{util.brokenImage}} broken images:
  </div>
  <div>
    Display {{images.length - util.brokenImage || 0}} images:
  </div>
  <div ng-repeat="image in images track by image.url">
    <img hd-onerror="brokenImageHandler" ng-src="{{image.url}}" alt="blah" onError="this.remove();"
         style="max-width:1200px;">
  </div>


</div>

<!--<script defer src ="../client/mainController.js" ></script>-->
<script src="bower_components/angular/angular.js"></script>
<script src="bower_components/oboe/dist/oboe-browser.js"></script>
<script type="text/javascript">
  (function () {
    angular.module('myApp', [])
      .controller('main', mainController)
      .directive('hdOnerror', hdOnerror);

    function hdOnerror($parse) {
      return {
        restrict: 'A',
        link: function ($scope, $elem, $attr) {
          var elem = angular.element($elem);
          elem.bind('error', function () {
            var func = $parse($attr.hdOnerror)($scope);
            $scope.$evalAsync(function () {
              func();
            })
          });
        }
      };
    }


    mainController.$inject = ['$http', '$scope'];
    function mainController($http, $scope) {
      /*
       * https://vozforums.com/showthread.php?t=4590241
       *https://vozforums.com/showthread.php?t=4270819
       *https://vozforums.com/showthread.php?t=4302565
       *https://vozforums.com/showthread.php?t=2065093
       *https://vozforums.com/showthread.php?t=3182265
       *https://vozforums.com/showthread.php?t=2065093
       * */

      $scope.url = 'https://vozforums.com/showthread.php?t=4270819';
      $scope.images = [];
      $scope.imagesMap = {};
      $scope.maxPage = 10;
      $scope.config = {
        maxPage: 1,
        firstPage: 1
      };
      $scope.util = {};
      $scope.util.brokenImage = 0;
      $scope.brokenImageHandler = function () {
        $scope.util.brokenImage++;
      };
      $scope.getImages = function () {
        $scope.images = [];
        $scope.imagesMap = {};
        $scope.util.brokenImage = 0;
        oboe({
          url: 'getImages',
          method: 'post',
          body: {
            url: $scope.url,
            config: $scope.config
          }
        })
          .node('data.*', function (image) {
            if (!$scope.imagesMap[image.url]) {
              $scope.imagesMap[image.url] = true;
              $scope.$evalAsync(function () {
                $scope.images.push(image);
              });
            }
          });

//        $http.post('/getImages', {url: $scope.url, config: $scope.config}).then(function (successData) {
//          $scope.images = successData.data.data;
//        }, function () {
//          ;
//        });
      };
      $scope.getImages();
    }
  })();
</script>
<!--<script defer src ="../../bower_components/react/react.js" ></script>-->
<!--<script defer src ="../../bower_components/react/react-dom.js" ></script>-->
<!--<script defer src ="../../bower_components/react/react-with-addons.js" ></script>-->
<!--<script defer src ="../../bower_components/react/react-dom-server.js" ></script>-->
</body>
</html>