<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Title</title>
  <!--<link rel="stylesheet" type="text/css" href="bower_components/ng-directive-lazy-image/release/lazy-image-style.css">-->
  <link rel="stylesheet" type="text/css" href="index.css">
</head>
<body ng-app="myApp">


<div ng-controller="main">

  <div>
    <div>
      URL: <input type="text" ng-model="url">
    </div>
    <div>
      First Page <input type="text" ng-model="config.firstPage">
    </div>
    <div>
      Max Page: <input type="text" ng-model="config.maxPage">
    </div>
    <button type="button" ng-click="getImages()"> Get Images</button>
  </div>
  <div>
    Received {{images.length}} images:
  </div>
  <div>
    {{images.length - counter.displayedImages - counter.brokenImage}} pending images:
  </div>
  <div>
    Display {{counter.displayedImages || 0}} images:
  </div>
  <div>
    {{counter.brokenImage}} broken images:
  </div>




  <div ng-repeat="image in images track by image.url">
    <!--<div afkl-lazy-image="{{image.url}}"-->
         <!--class="afkl-lazy-wrapper own-classname" style="padding-bottom: 50px"></div>-->

    <img hd-onerror="brokenImageHandler" hd-onload="onImageLoaded"
         ng-src="{{image.url}}" alt="blah" onError="this.remove();"
         style="max-width:1200px;">
  </div>


</div>

<!--<script defer src ="../client/mainController.js" ></script>-->
<script src="index.js"></script>
<script src="bower_components/angular/angular.js"></script>
<script src="bower_components/oboe/dist/oboe-browser.js"></script>
<!--<script src="bower_components/ng-directive-lazy-image/release/lazy-image.js"></script>-->
<script src="scripts/mainController.js"></script>
</body>
</html>